<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َSurya Sarkar</title>
    <link rel="stylesheet" href="public/style.css">

  </head>
  <body>

<form id="login" class="box" action="http://127.0.0.1:3000/login" method="GET">
  <h1>Login</h1>
  <input type="email" name="email" placeholder="Email">
  <input type="password" required="required" name="pass" placeholder="Password">
  <input type="submit" id="button1" name="" value="Login">

</form>
<script src = "D:\C, Python Programs\myapp\index.js" />
</body>
</html>
