<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register new user</title>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>

<form class="box" action="http://127.0.0.1:3000/register" method="GET">
  <h1>Register</h1>
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="pass" placeholder="Password">
  <input type="submit" name="" value="Sign Up">
</form>


  </body>
</html>
